.header {
  height: 100px;
}
.sidebar {
  float: left;
  width: 20%;
}
.main {
  margin-left: 25%;
  margin-right: 25%;
}
.right-sidebar {
  float: right;
  width: 20%;
}
.container::after {
  content: "";
  display: block;
  clear: both;
}
